services:
  fastapi-core:
    build:
      context: ./fastapi-core
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - stt-service
      - tts-service
    expose:
          - "8000:8000"
  stt-service:
    build:
      context: ./stt-service
      dockerfile: Dockerfile
    restart: unless-stopped
    expose:
      - "8001"
    env_file:
      - .env

  tts-service:
    build:
      context: ./tts-service
      dockerfile: Dockerfile
    restart: unless-stopped
    expose:
      - "8002"
    env_file:
      - .env